.appContainer {
    background-image: url('/images/background2.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    text-align: center;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}