.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #ffffff;
}

.balanceContainer {
    text-align: center;
    margin-bottom: 40px;
}

.nftsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.nftCard {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nftCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.nftImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.loading,
.error {
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 50px;
}

.syncButton {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.syncButton:hover {
    background-color: #2980b9;
}

.syncButton:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.successMessage {
    color: #27ae60;
    margin-top: 10px;
}

.errorMessage {
    color: #e74c3c;
    margin-top: 10px;
}

.collectionsContainer {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    text-align: center;
}

.collectionsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Fond plus sombre pour un meilleur contraste */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    max-height: 400px; /* Limite la hauteur pour permettre le défilement */
    overflow-y: auto;
}

.collectionItem {
    padding: 10px 15px; /* Augmentation du padding */
    min-height: 50px; /* Hauteur minimale pour chaque élément */
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
    transition: background-color 0.2s ease;
    color: #ffffff; /* Assure que le texte est blanc */
}

.collectionItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.countdownMessage {
    color: white; 
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
}

.dropdownButton {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    margin-top: 10px;
}

.dropdownButton:hover {
    background-color: #27ae60;
}

/* Ajout de styles pour le conteneur déroulant */
.dropdownContent {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    z-index: 1; /* Assure que le contenu est au-dessus d'autres éléments */
}
